form {
  margin-top: 1em; /* Add some top margin for spacing */
}

label {
  display: block; /* Make the label a block element */
  margin-bottom: 0.5em; /* Add some bottom margin for spacing */
  font-weight: bold; /* Make the label text bold */
}

textarea {
  width: 100%; /* Make the textarea take up the full width */
  height: 100px; /* Adjust the height as needed */
  padding: 0.5em; /* Add some padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add some border-radius for rounded corners */
  resize: vertical; /* Allow vertical resizing */
}

button[type="submit"] {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.5em 1em;
  border-bottom: none;
  border-radius: 4px; 
  font-family: "Bungee"
}

output {
  font-weight: bold;
  color: #8f8c8c; 
  padding: 0.5em 1em;
  display: flex; /* Use flexbox */
  justify-content: flex-end; /* Align content to the right end */ 
  margin-right: 0.1em; 
  margin-top: -1.5em; 
  font-size: 40px; /* Adjust the font size */
  padding: 0.2em 0.5em; /* Adjust the padding */ 
  font-family: "Bungee"
}
